@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
     font-family: 'ralewaymedium', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

header, .bigSlider {
    width: 100%;
    background-color: #000; 
    color: #FFF;
    text-transform: uppercase;
    height: auto;
    letter-spacing: 1px;
}

header .text {
    display: inline-block;
    margin-top: 8px;
    float: left;
}


header span:nth-child(2) {
    color: #2ad3b5;
    padding: 0 5px;
}

.menu {
    float: right;
    list-style: none;
    font-size: 13px;  
    font-family: 'ralewaybold';
}

ul {
    margin-right: 20px;  
}

.menu li, a {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu > li {
    display: inline-block;   
}

.menu > li:hover ul {
    display: block;   
}

.submenu {
    display: none;
    position: absolute;
    left: 20px;
    top: 45px; 
    background: black;
    font-family: "ralewaymedium";
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  left: 20px;
  top: -10px;
  position: absolute;
}

.bigSlider {
    padding-top: 50px;
    padding-bottom: 30px;
    background: rgba(249,249,249,1);
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,0.96) 60%, rgba(210,209,217,0.94) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(60%, rgba(249,249,249,0.96)), color-stop(100%, rgba(210,209,217,0.94)));
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,0.96) 60%, rgba(210,209,217,0.94) 100%);
    background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,0.96) 60%, rgba(210,209,217,0.94) 100%);
    background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,0.96) 60%, rgba(210,209,217,0.94) 100%);
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(249,249,249,0.96) 60%, rgba(210,209,217,0.94) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d2d1d9', GradientType=0 );
}

.blackChair {
    background-image: url(../images/black_chair.png);
    background-repeat: no-repeat;
    background-image: center;
    height: 300px;
    width: 400px;
    margin-left: 130px;
}
.clearfix {
    content: '';
    clear: both;
}  

#arrowLeft{
  position: relative;
  padding: 30px;
  margin-left: 150px;
  padding-top: 5px;
  cursor: pointer;
}
 
#arrowLeft:before {
  content: '';
  position: absolute;
  top: 140px;
  left: 0;
  height: 40px;
  width: 10px;
  background: #2ad3b5;
  transform: skew(135deg, 0deg);
}

#arrowLeft:after {
  content: '';
  position: absolute;
  top: 180px;
  right: 50px;
  height: 40px;
  width: 10px;
  background: #2ad3b5;
  transform: skew(-135deg, 0deg);
}

#arrowRight{
  position: relative;
  padding: 30px;
  margin-left: 150px;
  padding-top: 5px;
  cursor: pointer;
}
 
#arrowRight:before {
  content: '';
  position: absolute;
  top: 180px;
  left: 810px;
  height: 40px;
  width: 10px;
  background: #2ad3b5;
  transform: skew(135deg, 0deg);
}

#arrowRight:after {
  content: '';
  position: absolute;
  top: 140px;
  right: -760px;
  height: 40px;
  width: 10px;
  background: #2ad3b5;
  transform: skew(-135deg, 0deg);
}

.bigSlider h1 {
    font-size: 35px;
    font-family: "ralewaybold";
}

.slider {
    margin-top: 20px;   
}

.sliderText {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 50px 30px 20px 30px;
    margin-left: 450px;
    color:black;
}

.sliderText p {
    padding: 20px 0;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
}

.sliderText h1 span {
    color: #2ad3b5;
}

.button {
    background-color: #2ad3b5 ;
    border-radius: 6px;
    width: 200px;
    padding: 10px;
    margin: auto;
    color: #FFF;
    text-transform: uppercase;
}

.sliderText .button a:hover {
    color: #202121;
}

.boxes {
    margin-top: 20px;
    margin-bottom: 50px;    
}

.box {
    width: 32%;
    height: 240px;
    margin-left: 2%;
    float: left;
    background-repeat: no-repeat; 
    display: inline-block;
}

.left {
    background-image: url(../images/box1_img.jpg); 
    margin-left: 0;
}

.center {
    background-image: url(../images/box2_img.jpg);
}

.right {
    background: #FFF;
    height: 280px;
    border: 1px solid #D3D3D3;   
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.transparentBlock {
    width: 94%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 140px;
    padding-top: 20px;
    padding-left: 20px;
}

.boxTitle {
    color: #000;
    font-family: "ralewayblack";
    font-size: 16px;
}

.greenLine { 
    border-bottom: 7px solid #2ad3b5;
    width: 150px;  
}

.boxTitle.greenLine p {
    display: inline-block;
    font-family: "ralewaybold";   
}

.greenLine p:nth-child(2) {
    text-transform: uppercase;
}

.right p {
    font-size: 14px;
    line-height: 22px;
    opacity: 0.7;
}

.right p:first-child {
    font-family: "ralewaybold";
}

.right p:nth-child(2)+p:nth-child(3) {
    padding-top: 10px;
}


article {
    background-color: #F1F1F1;
    width: 100%;
    height: 800px;
    display: inline-block; 
}

article .box {
    height: 550px;      
}

.boxLeft, .boxCenter, .boxRight {
    border: 1px solid lightgray;
    background-color: #FAFAFA;
    width: 32%; 
    margin-left: 2%;
    position: relative;
}

.boxLeft {
    margin-left: 0;
}

.boxCenter:hover {
    background:#2ad3b5;
}

.boxCenter:hover .line1 {
    background-color: #FFF;
}

.boxCenter:hover .line3 {
    background-color: #FFF;
}

.boxCenter:hover .circle1 {
    background-color: #2ad3b5;
    border: 1px solid #2ad3b5;
}
.boxCenter:hover .circle2 {
    background-color: #FFF; 
} 
.boxCenter:hover .circle3 {
    border: 1px solid #2ad3b5;
    color: #2ad3b5;
}
.boxCenter:hover .button {
    color: #2ad3b5;
    background-color: #FFF;
}

.boxCenter:hover h1 {
    color: #FFF;
}

article .boxTitle {
    text-transform: uppercase;
    font-family: "ralewaymedium";
    padding-bottom: 5px;
    font-size: 18px;
}

article .greenLine {
    width: 353px;
}

article .boxTitle.greenLine {
  
    margin-bottom: 70px;
    margin-top: 30px;
}

.circle1 {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #c2c2c2;
    background-color: white;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: -30px;
    margin: auto;
}

.circle2 {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color:#c2c2c2;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
}

.plan {
    margin-top: 40px;
    font-size: 24px;
    text-align: center;   
}
.plan h1 {
    text-transform: uppercase;
    display: inline-block;
    color: #2ad3b5;
    padding-bottom: 20px;
}

.circle3 {
    position: absolute;
    width: 130px;
    height: 130px;
    border: 3px solid #c4c4c4;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: #c4c4c4;
    font-size: 25px;
    background-color: #FFF;    
}

.textCircle {
    margin-top: 24px;
    font-size: 35px;
    font-family: "ralewaybold";
}

.circle3 span {
    font-size: 18px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.circle3 p {
    display: inline-block;
}

.small p {
    margin-bottom: 50px;
}

.line1, .line2, .line3, .line4 { 
    background-color: #E9E9E9;
    font-family: "ralewayregular"; 
    font-size: 24px;
    text-align: center;
    padding: 5px 0;
    color: #696969;
}

.line1 {
     margin-top: 200px;  
}

.line2, .line4 {
    background-color: #F6F6F6;
}

.line1:first-letter, .line2:first-letter, .line3:first-letter, .line4:first-letter  {
    text-transform: uppercase;
}

.box.boxLeft .button {
    margin-top: 117px;
}

.box.boxCenter .button {
    margin-top: 79px;   
}

article .boxTitle.greenLine {
    padding-bottom: 10px; 
}

form {
    width: 60%;
    display: inline-block;  
}

input[type=text], [type=email] {
    width: 100%;
    margin-bottom: 25px;
    border: 1px solid rgba(39, 199, 171, 0.5);
    height: 65px;
    font-size: 25px;
}
:-moz-placeholder {
    color: #dcdcdc;
    padding-left: 10px;
    font-family: raleway, sans-serif;  
}

::-webkit-input-placeholder {
    color: #dcdcdc;
    padding-left: 10px;
    font-family: raleway, sans-serif;
    font-size: 24px;   
}

textarea {
    height: 200px;
    width: 100%;
    resize: none;
    border: 1px solid rgba(39, 199, 171, 0.4);
    font-size: 24px;
    color: #000;
    padding-top: 15px; 
}

.articleBottom {
    background-color: #FFF;
    height: 500px;
}

.chairRed {
    background-image: url(../images/red_chair.png);
    width: 300px;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;  
    margin: 0 auto;
    margin-top:-25px;
    margin-bottom: 18px;
}

.chair {
    width: 40%;
    float: right;
    position: relative;
    height: 380px; 
}

input[type=checkbox] {
    display: inline-block;
    margin-left:50px;
    float: left;
    cursor: pointer;
}

#check1 {
    display: none;
}

#check1 + label {
    width: 45px;
    height: 45px;
    background: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid #2ad3b5;
}

.checkboxText {
    color: #dcdcdc;
    float: right;
    width: 100%;
    text-align: left;
    padding-left: 45px;
    font-family: "ralewayregular";   
}

.checkboxText span {
    font-size: 20px;
    display:  inline-block;
    width: 80%; 
}

.chair .button {
   text-align: center; 
   position: absolute;
   left: 45px;
   top: 330px;
   width: 80%;
    padding: 15px;
}

footer {
    width: 100%;
    height: 150px;
}

.copyright {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 113px;
    font-size: 13px;
    color: #b6b6b6;
    width: 610px;
}

.logo {
    display: inline-block;
    float: left;
    width: 400px;
    margin-top: 94px;
    margin-left: 50px;
}

.flickr {
    width: 35px;
    height: 35px;
    background: url(../images/flickr.png);
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.vimeo {
    width: 35px;
    height: 35px;
    background: url(../images/vimeo.png);
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.pinterest {
    width: 35px;
    height: 35px;
    background: url(../images/pinterest.png);
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.twitter {
    width: 35px;
    height: 35px;
    background: url(../images/twitter.png);
    display: inline-block;
    float: left;
}

footer .text {
text-align: right;
padding-top: 10px;    
}

footer span {
    color: #b6b6b6;
    font-size: 24px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
} 

footer span:nth-child(even) {
    font-weight: "ralewaybold";
    padding: 0 8px;
    font-weight: 800; 
}